.descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    &_m-36-124 {
        margin: 36px 0 124px 0;
    }
    &_mt-26 {
        margin-top: 26px;
    }
}